{% extends "main/landing.html" %}
{% load static %}
{% block content %}

<style>
    .new-popup-form {
        display: grid;
        position: absolute;
        gap: 15px;
        background-color: whitesmoke;
        width: 80%;
        max-width: 350px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: system-ui;
        padding: 10px;
        box-shadow: 0px 0px 2px grey;
    }

    .popup-header {
        display: grid;
        position: relative;
    }

    .title {
        text-align: center;
        padding: 10px 3px;
        font-weight: 600;
    }

    .popup-closer {
        position: absolute;
        right: 3%;
        padding: 5px;
        border: none;
        background-color: transparent;
        transition: 0.5s ease;
    }

    .popup-closer:hover {
        color: red;
    }

    .inputs-cover {
        display: grid;
        gap: 10px;
    }

    .each-input {
        display: grid;
    }

    .each-input label {
        font-size: 0.9rem;
    }

    .each-input input {
        padding: 10px;
        box-sizing: border-box;
        outline: none;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 3px;
        height: 40px;
    }

    .submit-btn {
        background-color: rgb(0, 40, 151);
        height: 40px;
        color: whitesmoke;
        font-family: system-ui;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        border: 1px solid rgb(0, 40, 151);
        transition: 0.5s ease;
    }

    .submit-btn:hover {
        background-color: rgb(0, 26, 99);
    }

    button.processing {
        background: rgb(83, 87, 117);
    }

    button.processing:hover {
        background: rgb(83, 87, 117);
    }
</style>
<section class="new-popup-form">
    <div class="popup-header">
        <span class="title">Update Profile</span>

    </div>
    <form action="{% url 'change_password' %}" class="update-profile">
        {% csrf_token %}
        <div class="inputs-cover">
            <div class="each-input">
                <label for="email">Email:</label>
                <input name="email" id="email" type="text" placeholder="Email">
            </div>

            <div class="each-input">
                <label for="first_name">First Name:</label>
                <input name="first_name" id="first_name" type="text" placeholder="First Name">
            </div>

            <div class="each-input">
                <label for="last_name">Last Name:</label>
                <input name="last_name" id="last_name" type="text" placeholder="Last Name">
            </div>


            <button class="submit-btn update-profile-btn" type="submit">Update Profile</button>
        </div><!-- div.inputs-cover -->
    </form>
</section><!-- section-popup-form -->

{% include 'popups/error_message.html' %}
{% include 'popups/success_message.html' %}


<script src="{% static 'error_specification.js' %}" defer></script>
{% endblock %}